{{define "content"}}
    <h1>{{.Title}}</h1>
    <p>
        <a href="/feeds/new">new feed</a>
    </p>
    {{if .Data.Feeds}}
        <p>
        <ul>
            {{range .Data.Feeds}}
                <li><a href="/feeds/{{.FeedID}}">{{.Title}} ({{.URL}})</a></li>
            {{end}}
        </ul>
        </p>
    {{end}}
{{end}}
