{{define "content"}}
    {{if .Data.Item}}
        <h1>{{.Title}}</h1>
        {{if .Data.Item.Content}}
            <p>{{htmlSafe .Data.Item.Content}}</p>
        {{end}}
        <p><a href="/feeds/{{$.Data.Feed.FeedID}}/items/{{slug .Data.Item.Title}}/read">read</a></p>
    {{end}}
{{end}}
