<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>KRSS</title>
    <meta name="description" content="Kindle RSS Reader">
    <meta name="author" content="Juan Alvarez">
</head>

<body>

{{/*<form action="/feeds" method="post">*/}}
{{/*    <p>*/}}
{{/*        <label>Title</label>*/}}
{{/*        <input type="text" name="title"/>*/}}
{{/*    </p>*/}}
{{/*    <p>*/}}
{{/*        <label>URL</label>*/}}
{{/*        <input type="text" name="text"/>*/}}
{{/*    </p>*/}}
{{/*    <p>*/}}
{{/*        <input type="submit" value="Add"/>*/}}
{{/*    </p>*/}}
{{/*    <input type="hidden" name="csrf" value="{{index . "csrfToken"}}"/>*/}}
{{/*</form>*/}}
<p>
    <a href="/feeds/add">Add</a>
</p>

</body>

</html>
