<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>KRSS</title>
    <meta name="description" content="Kindle RSS Reader">
    <meta name="author" content="Juan Alvarez">
</head>

<body>
<form action="/" method="post">
    <p>
        <label>E-Mail</label>
        <input type="text" name="email"/>
    </p>
    <p>
        <label>Password</label>
        <input type="password" name="password"/>
    </p>
    <p>
        <input type="submit" value="Login"/>
    </p>
    <input type="hidden" name="csrf" value="{{index . "csrfToken"}}"/>
</form>
</body>

</html>
